/* 
.s0 { fill: #ecf0f7 } 
.s1 { fill: url(#g1) } 
.s2 { mix-blend-mode: multiply;fill: url(#g2) } 
.s3 { fill: #eaeff6 } 
.s4 { fill: url(#g3) } 
.s5 { opacity: .9;fill: #d1d6e5 } 
.s6 { opacity: 1;fill: #cfd5e4 } 
.s7 { fill: #cdd3e3 } 
.s8 { fill: url(#g4) } 
.s9 { fill: url(#g5) } 
.s10 { fill: url(#g6) } 
.s11 { fill: url(#g7) } 
.s12 { mix-blend-mode: multiply;fill: url(#g8) } 
.s13 { mix-blend-mode: multiply;fill: url(#g9) } 
.s14 { fill: #e6ebf5 } 
.s15 { fill: url(#g10) } 
.s16 { fill: url(#g11) } 
.s17 { fill: url(#g12) } 
.s18 { fill: url(#g13) } 
.s19 { fill: url(#g14) } 
.s20 { fill: url(#g15) } 
.s21 { fill: url(#g16) } 
.s22 { fill: url(#g17) } 
.s23 { fill: url(#g18) } 
.s24 { fill: url(#g19) } 
.s25 { fill: url(#g20) } 
.s26 { fill: url(#g21) } 
.s27 { fill: url(#g22) } 
.s28 { fill: url(#g23) } 
.s29 { fill: url(#g24) } 
.s30 { fill: url(#g25) } 
.s31 { fill: url(#g26) } 
.s32 { fill: url(#g27) } 
.s33 { fill: url(#g28) } 
.s34 { fill: url(#g29) } 
.s35 { fill: url(#g30) } 
.s36 { fill: url(#g31) } 
.s37 { fill: url(#g32) } 
.s38 { fill: #e5eaf4 } 
.s39 { fill: #e3e9f3 } 
.s40 { fill: #e2e7f2 } 
.s41 { fill: #e1e6f1 } 
.s42 { fill: #dfe5f0 } 
.s43 { fill: #dee4f0 } 
.s44 { fill: #dde3ef } 
.s45 { fill: #dbe2ee } 
.s46 { fill: #dae1ed } 
.s47 { fill: #d9dfec } 
.s48 { fill: #d7deeb } 
.s49 { fill: #d6ddea } 
.s50 { fill: url(#g33) } 
.s51 { fill: url(#g34) } 
.s52 { fill: url(#g35) } 
.s53 { fill: url(#g36) } 
.s54 { fill: url(#g37) } 
.s55 { fill: url(#g38) } 
.s56 { fill: url(#g39) } 
.s57 { fill: url(#g40) } 
.s58 { fill: url(#g41) } 
.s59 { fill: url(#g42) } 
.s60 { fill: url(#g43) } 
.s61 { fill: url(#g44) } 
.s62 { mix-blend-mode: multiply;fill: url(#g45) } 
.s63 { mix-blend-mode: multiply;fill: url(#g46) } 
.s64 { fill: url(#g47) } 
.s65 { fill: url(#g48) } 
.s66 { fill: url(#g49) } 
.s67 { fill: url(#g50) } 
.s68 { fill: url(#g51) } 
.s69 { fill: url(#g52) } 
.s70 { fill: url(#g53) } 
.s71 { fill: url(#g54) } 
.s72 { fill: url(#g55) } 
.s73 { fill: url(#g56) } 
.s74 { fill: url(#g57) } 
.s75 { fill: url(#g58) } 
.s76 { fill: url(#g59) } 
.s77 { fill: url(#g60) } 
.s78 { fill: url(#g61) } 
.s79 { fill: url(#g62) } 
.s80 { fill: url(#g63) } 
.s81 { fill: url(#g64) } 
.s82 { fill: url(#g65) } 
.s83 { fill: url(#g66) } 
.s84 { fill: url(#g67) } 
.s85 { fill: url(#g68) } 
.s86 { fill: url(#g69) } 
.s87 { fill: url(#g70) } 
.s88 { fill: url(#g71) } 
.s89 { fill: url(#g72) } 
.s90 { fill: url(#g73) } 
.s91 { fill: url(#g74) } 
.s92 { fill: url(#g75) } 
.s93 { fill: url(#g76) } 
.s94 { fill: url(#g77) } 
.s95 { fill: url(#g78) } 
.s96 { fill: url(#g79) } 
.s97 { fill: url(#g80) } 
.s98 { fill: url(#g81) } 
.s99 { fill: #3f3f3f } 
.s100 { fill: #00ffe4 }  */

/* 
.s0 {
  fill: #3f3f3f;
}
.s1 {
  fill: #ecf0f7;
}
.s2 {
  fill: url(#g1);
}
.s3 {
  mix-blend-mode: multiply;
  fill: url(#g2);
}
.s4 {
  fill: #eaeff6;
}
.s5 {
  fill: url(#g3);
}
.s6 {
  opacity: 0.9;
  fill: #d1d6e5;
}
.s7 {
  opacity: 1;
  fill: #cfd5e4;
}
.s8 {
  fill: #cdd3e3;
}
.s9 {
  fill: url(#g4);
}
.s10 {
  fill: url(#g5);
}
.s11 {
  fill: url(#g6);
}
.s12 {
  fill: url(#g7);
}
.s13 {
  mix-blend-mode: multiply;
  fill: url(#g8);
}
.s14 {
  mix-blend-mode: multiply;
  fill: url(#g9);
}
.s15 {
  fill: #e6ebf5;
}
.s16 {
  fill: url(#g10);
}
.s17 {
  fill: url(#g11);
}
.s18 {
  fill: url(#g12);
}
.s19 {
  fill: url(#g13);
}
.s20 {
  fill: url(#g14);
}
.s21 {
  fill: url(#g15);
}
.s22 {
  fill: url(#g16);
}
.s23 {
  fill: url(#g17);
}
.s24 {
  fill: url(#g18);
}
.s25 {
  fill: url(#g19);
}
.s26 {
  fill: url(#g20);
}
.s27 {
  fill: url(#g21);
}
.s28 {
  fill: url(#g22);
}
.s29 {
  fill: url(#g23);
}
.s30 {
  fill: url(#g24);
}
.s31 {
  fill: url(#g25);
}
.s32 {
  fill: url(#g26);
}
.s33 {
  fill: url(#g27);
}
.s34 {
  fill: url(#g28);
}
.s35 {
  fill: url(#g29);
}
.s36 {
  fill: url(#g30);
}
.s37 {
  fill: url(#g31);
}
.s38 {
  fill: url(#g32);
}
.s39 {
  fill: #e5eaf4;
}
.s40 {
  fill: #e3e9f3;
}
.s41 {
  fill: #e2e7f2;
}
.s42 {
  fill: #e1e6f1;
}
.s43 {
  fill: #dfe5f0;
}
.s44 {
  fill: #dee4f0;
}
.s45 {
  fill: #dde3ef;
}
.s46 {
  fill: #dbe2ee;
}
.s47 {
  fill: #dae1ed;
}
.s48 {
  fill: #d9dfec;
}
.s49 {
  fill: #d7deeb;
}
.s50 {
  fill: #d6ddea;
}
.s51 {
  fill: url(#g33);
}
.s52 {
  fill: url(#g34);
}
.s53 {
  fill: url(#g35);
}
.s54 {
  fill: url(#g36);
}
.s55 {
  fill: url(#g37);
}
.s56 {
  fill: url(#g38);
}
.s57 {
  fill: url(#g39);
}
.s58 {
  fill: url(#g40);
}
.s59 {
  fill: url(#g41);
}
.s60 {
  fill: url(#g42);
}
.s61 {
  fill: url(#g43);
}
.s62 {
  fill: url(#g44);
}
.s63 {
  mix-blend-mode: multiply;
  fill: url(#g45);
}
.s64 {
  mix-blend-mode: multiply;
  fill: url(#g46);
}
.s65 {
  fill: url(#g47);
}
.s66 {
  fill: url(#g48);
}
.s67 {
  fill: url(#g49);
}
.s68 {
  fill: url(#g50);
}
.s69 {
  fill: url(#g51);
}
.s70 {
  fill: url(#g52);
}
.s71 {
  fill: url(#g53);
}
.s72 {
  fill: url(#g54);
}
.s73 {
  fill: url(#g55);
}
.s74 {
  fill: url(#g56);
}
.s75 {
  fill: url(#g57);
}
.s76 {
  fill: url(#g58);
}
.s77 {
  fill: url(#g59);
}
.s78 {
  fill: url(#g60);
}
.s79 {
  fill: url(#g61);
}
.s80 {
  fill: url(#g62);
}
.s81 {
  fill: url(#g63);
}
.s82 {
  fill: url(#g64);
}
.s83 {
  fill: url(#g65);
}
.s84 {
  fill: url(#g66);
}
.s85 {
  fill: url(#g67);
}
.s86 {
  fill: url(#g68);
}
.s87 {
  fill: url(#g69);
}
.s88 {
  fill: url(#g70);
}
.s89 {
  fill: url(#g71);
}
.s90 {
  fill: url(#g72);
}
.s91 {
  fill: url(#g73);
}
.s92 {
  fill: url(#g74);
}
.s93 {
  fill: url(#g75);
}
.s94 {
  fill: url(#g76);
}
.s95 {
  fill: url(#g77);
}
.s96 {
  fill: url(#g78);
}
.s97 {
  fill: url(#g79);
}
.s98 {
  fill: url(#g80);
}
.s99 {
  fill: url(#g81);
} */

/* .st0{display:none;fill:#C7C7C7;}
.st1{display:none;}
.st2{display:inline;}
.st3{fill:#231F20;}
.st4{fill:#332E2E;}
.st5{fill:#262626;}
.st6{fill:#FFFFFF;}
.st7{fill:#A7A9AC;}
.st8{fill:#0E65A0;}
.st9{fill:#03466B;}
.st10{fill:#414042;}
.st11{fill:#D1D3D4;}
.st12{fill:#EFC995;}
.st13{fill:#D3A56E;}
.st14{fill:#F7E6D0;}
.st15{fill:#EFD0AF;}
.st16{fill:#4C4C4C;}
.st17{fill:#7C7C7C;}
.st18{fill:#A52929;}
.st19{fill:#660E0E;}
.st20{fill:#680000;}
.st21{opacity:0.5;fill:#680000;}
.st22{fill:#969696;}
.st23{fill:#6D6E71;}
.st24{fill:#333333;}
.st25{fill:#515151;}
.st26{fill:#363636;}
.st27{fill:#014D77;}
.st28{fill:#090E19;}
.st29{fill:#404F77;}
.st30{fill:#10172A;}
.st31{fill:#C2CDE9;}
.st32{fill:#9AAACC;}
.st33{fill:#B23F36;}
.st34{clip-path:url(#SVGID_2_);}
.st35{fill:#A06868;}
.st36{fill:#A03333;}
.st37{fill:#561E1A;}
.st38{fill:#1F2847;}
.st39{fill:#05080F;} */

.cls-1 {
  fill: #16fdd7;
}
.cls-2 {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
}

.relative {
  position: relative;
}

.aaa,
#Layer_1,
.aaaa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* z-index: 1; */
}
.aaa {
  z-index: 2;
}

.cls-3 {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
}
.cls-4 {
  fill: rgb(228, 0, 190);
}

.mask1 {
  -webkit-mask-image: url("/10.png");
  mask-image: url("/10.png");
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;  
  max-width: 500px;
}
.bbbb{
  max-width: 500px;
}
